.todo-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
  padding: 2rem;
}

.todo-container-left {
  width: 50%;
  min-width: min-content;
}

.todo-container-right {
  width: 50%;
  min-width: min-content;
}

@media only screen and (max-width: 900px) {
  .todo-container-left {
    width: 100%;
  }

  .todo-container-right {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .todo-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 25rem;
    padding: 2rem;
  }
}
