.clear-btn {
  text-align: center;
  font-size: 0.85rem;
  color: #E74C3C;
  text-decoration: underline;
  cursor: pointer;
}

.add-item-btn {
  width: 2.5rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-left: -2.5px;
}

.form {
  background-color: #ECF0F1;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  height: 100vh;
  padding: 2.5rem;
  width: 20rem;
  position: fixed;
}

.form button {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem;
  border-color: #1ABC9C;
  background-color: #1ABC9C;
  color: #FFF;
}

.form button:hover {
  box-shadow: 0px 1px 2.5px rgba(0,0,0,0.5);
}

.form h2 {
  margin-bottom: 1.5rem;
}

.form input {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.form label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.input-label-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

.input-btn-container {
  display: flex;
}

.input-btn-container input {
  flex-grow: 1;
}

.make-task-btn,
.clear-btn {
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.filter-btn {
  margin-top: 1rem;
}

.task-items {
  margin-top: 1rem;
}

.task-items li {
  font-size: 1rem;
  padding: 0.25rem 0;
}

.task-items p {
  font-weight: 600;
}

.task-items ul {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  margin-left: 1.25rem;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 100vw;
    height: 25rem;
    bottom: 0;
  }
}
