.card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.card-top {
  padding: 1rem;
}

.list-row {
  display: flex;
  align-items: center;
}

.list-row input {
  margin-right: 0.5rem;
}

.todo-card {
  border: solid 1px black;
  margin: 2.5rem 0;
  min-width: 20rem;
}

.todo-card li {
  margin: 0.5rem 0;
}

.todo-card ul {
  list-style: none;
  padding-left: 1rem;
}
